 @model IEnumerable<BugReportMVC5.Models.Problem>
    @{ ViewData["Title"]="Assign Developer"; 
Layout = "_adminDashboardLayout"; }


    <div style="margin-left:2%;font-family: OmnesATTII;">
        <h3>
            @{ User message = (TempData["User"] as User); // might throw a NullReferenceException
            }
            <img src="~/img/admin/developer.svg" />
            <span style="color: #545b70; font-weight: 500;font-family: OmnesATTII;font-size: 20px;padding-left:7px;">Assign Ticket Solver </span>
        </h3>
    </div>



    <div class="outer-add-customer" style="margin-left:2%;padding:1%;width:96%;font-family: OmnesATTII;">




        <div class="Ticket-container">
            @foreach (var item in Model) {
            <div>
                <h5>Ticket Number: #@Html.DisplayFor(modelItem => item.Ticket_Number)</h5>
                <h5>Summary: @Html.DisplayFor(modelItem => item.Summary)</h5>
                <h5>Severity: @Html.DisplayFor(modelItem => item.Severity)</h5>
                <p>Description: @Html.DisplayFor(modelItem => item.Problem_Desc)</p>

            </div>
            }
        </div>
    </div>
    <br>
 <div class="outer-add-customer" style="margin-left:2%;padding:1%;width:96%;font-family: OmnesATTII;">

     

            @using (Html.BeginForm("AssignDeveloper", "Problem")) {
            <div class="form-group" style="width:100%;">
                <label for="contain" style="float: left;font-size: 14px;width:10%;color: #7f8fa4;font-family: OmnesATTII;font-weight: 500;">Assign Developer</label>
                <select name="user_name" asp-items="@(new SelectList(@ViewBag.ListofDevelopers, " Name "))" class="w3-input w3-border w3-round"
                    >
                    <option disabled selected>--- SELECT ---</option>
                </select>
            </div>

            <div class="form-group" style="width:100%;">

                <input name="assign" class="w3-button  w3-round" type="submit" style="background-image: linear-gradient(to bottom, #39b54a, #33aa44);color: #ffffff;" value="Confirm Developer!!!"
                />
            </div>
            }
        </div>

        <div style="margin-top:8px;margin-right:2%;">    
      <a class="w3-button w3-blue w3-round" style="float:right;background-color: #27a2ff;color: #ffffff;font-family: OmnesATTII;" asp-action="viewStatus"> <img src="~/img/back.svg" style="float:left;"/> <span style="margin-left:4px;">Back to List</span></a> 
</div>
   
    
     <script type="text/javascript">
        $('#menu').on('click', function (e) { e.stopPropagation(); });
        </script>